# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.env

# Node
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Build
dist/
build/
*.egg-info/

# OS
.DS_Store
thumbs.db

# User Uploads
backend/static/uploads/
